{% extends 'root.html' %}

{% block title %}
Login
{% endblock title %}

{% block doc %}
<div class="vh-100 d-flex justify-content-center align-items-center">
    <div class="container">
      <div class="row d-flex justify-content-center">
        <div class="col-12 col-md-8 col-lg-6">
          <div class="card bg-white">
            <div class="card-body p-5">
              <form class="mb-3 mt-md-4" action="{% url 'LOGIN' %}" method="post">
                <h2 class="fw-bold mb-2 text-uppercase text-center pb-5">Login Form</h2>
                <p class=" mb-5">enter your credentials</p>
                <div class="mb-3">
                  <label for="phone" class="form-label ">phone</label>
                  <input type="phone" name="phone" class="form-control" id="phone" placeholder="09123456789">
                </div>
                <div class="mb-3">
                  <label for="password" class="form-label ">password</label>
                  <input type="password" name="password" class="form-control" id="password" placeholder="*******">
                </div>
                {% csrf_token %}
                
                <div class="d-grid-flex">
                    <button class="btn btn-outline-dark" type="submit">submit</button>
                </div>
                
                <p class="small text-center">forget password<a class="text-center" href="{% url 'FORGET' %}"> reset password </a></p>
                
              </form>
              <div>
                <p class="mb-0  text-center">
                    no accounts?<a href="{% url 'REGISTER' %}" class="text-primary fw-bold">Register</a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}